

<ion-header [translucent]="true">
  <ion-toolbar color="primary" >
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>      
      <img src="assets/images/tuni.png" class="logo" style="float:left; width: 110px; height:37"> 
      
    </ion-title>
  </ion-toolbar>
</ion-header>

  <!--Slidetoolbar-->
  
   
<ion-segment mod="md" [(ngModel)]="segment" (ionChange)="segmentChanged($event)">
  <ion-segment-button value="0">
    Art&Théatre
  </ion-segment-button>
  <ion-segment-button value="1">
    Festivale
  </ion-segment-button>
  <ion-segment-button value="2">
    Musique 
  </ion-segment-button>
  <ion-segment-button value="3">
    Tounes Bet
  </ion-segment-button>
</ion-segment>  




<!--Contenue de la page-->
<ion-content padding  scroll-y="false">  
  <ion-slides class="souslid" pager="false" [options]="sliderOptions">    
    <ion-slide > 
      
    <div class="imgSlide1"></div>
    </ion-slide>
    <ion-slide > 
      <div class="imgSlide2"></div>

      </ion-slide >
      <ion-slide> 
      
        <div class="imgSlide3"></div>

        </ion-slide>
        <ion-slide > 
      
          <div class="imgSlide4"></div>

          </ion-slide>
          <ion-slide> 
      
            <div class="imgSlide5"></div>

            </ion-slide>
   </ion-slides>

<ion-slides #slides pager="false" [options]="sliderOptions" (ionSlidesChange)="slideShanged(slides)"(ionSlideDidChange)="slideShanged(slides)"(ionSlidesDidLoad)="slideShanged(slides)">

 <ion-slide class="test">
 <ion-grid>
  <div class="container">
    <div class="ul">
   <ion-row>
     <ion-col>
      <h4>2020</h4>
      <ion-slides [options]="sliderConfig">
        <ion-slide>
      <p>jgfuih</p></ion-slide>
      <ion-slide>
        <p>cbvjgfuih</p></ion-slide>
        <ion-slide>
          <p>cbvjgfuih</p></ion-slide>
          <ion-slide>
            <p>cbvjgfuih</p></ion-slide>
    </ion-slides>
     </ion-col>
   
   </ion-row>
   <ion-col>  <h4>2020</h4>
    </ion-col>
   <ion-row>
     <ion-col>  <h4>2020</h4>
      
     </ion-col>
   </ion-row>
    </div>
  </div>
 </ion-grid>
   </ion-slide>

  <ion-slide>wbdiuhvuih ibuihvcwbv ci</ion-slide>
  <ion-slide>3></ion-slide>
  <ion-slide>4</ion-slide>

</ion-slides>

</ion-content>

<ion-tab-bar slot="bottom">
  <ion-tab-button tab="tab1">
    <ion-icon name="home-outline" size="small"></ion-icon>
    <ion-label>Acceuil</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="tab2">
    <ion-icon name="book-outline" size="small"></ion-icon>
    <ion-label>Kiosque</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="tab3">
    <ion-icon name="play-circle-outline"  size="small"></ion-icon>
    <ion-label>Vidéo</ion-label>
    <ion-badge>6</ion-badge>

  </ion-tab-button>
  
  <ion-tab-button tab="tab4">
    <ion-icon name="star-outline"  size="small"></ion-icon>
    <ion-label>Stories</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="tab5">
    <ion-icon name="wallet-outline" size="small" color="primary"></ion-icon>      
    <ion-label color="primary">Tickets</ion-label>
  </ion-tab-button>
  
</ion-tab-bar>