

<ion-header [translucent]="true">
  <ion-toolbar color="primary" >
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>      
      <img src="assets/images/tuni.png" class="logo" style="float:left; width: 110px; height:37"> 
      
    </ion-title>
  </ion-toolbar>
</ion-header>

  <!--Slidetoolbar-->
  
   





<!--Contenue de la page-->
<ion-content padding  scroll-y="false">  
  <ion-slides class="souslid" pager="false" [options]="sliderOptions">    
    <ion-slide > 
      
    <div class="imgSlide1">
    
      <img src="assets/images/cd814be236e27c2ec61bd938573149da702c1048_slider.jpg">
    </div>
    </ion-slide>
    <ion-slide > 
      <div class="imgSlide2">      <img src="assets/images/8d3244f7c107b7d18c15ed009e2d632c3be442f4_sabry-slider.jpg">
      </div>

      </ion-slide >
      <ion-slide> 
      
        <div class="imgSlide3">      <img src="assets/images/ab3423c4c018d0bdbfd3195431c71d1ec08a3fa5_wajiha-slider.jpg">
        </div>

        </ion-slide>
        <ion-slide > 
      
          <div class="imgSlide4">      <img src="assets/images/b89e1094a4b0d8a5218883070c150c9d4d273dc9_zied.jpg">
          </div>

          </ion-slide>
          <ion-slide> 
      
            <div class="imgSlide5">      <img src="assets/images/356cbc1eccc87a8cc31544accbd0fb2982feb6d8_slider-manel.jpg">
            </div>

            </ion-slide>
   </ion-slides>
<ion-segment mod="md" >
  <ion-segment-button value="0">
    Art&Théatre
  </ion-segment-button>
  <ion-segment-button value="1">
    Festivale
  </ion-segment-button>
  <ion-segment-button value="2" (click)="getticket()">
    Musique 
  </ion-segment-button>
  <ion-segment-button value="3">
    Tounes Bet
  </ion-segment-button>
</ion-segment>  
<ion-slides >

</ion-slides>
<div *ngIf="ticket">
  <div class="container">
    <div class="box" (click)="OpenTicket()">
      <div class="imgBx">
      <img  src="assets/images/le-micro-d-or-concours-de-chant-organise-par-conservatoire-lina.jpg"/>
      <div class="category"><p>NOUVEAU</p></div>
    </div>
      <div class="content">
      <h3>LE MICRO D'OR   30,000 TND</h3>
    
      <p>
       
        : CONCOURS DE CHANT ORGANISÉ PAR CONSERVATOIRE LINA
      </p>
    </div>
    </div>
    </div>
</div>

</ion-content>

<ion-tab-bar slot="bottom">
  <ion-tab-button tab="tab1">
    <ion-icon name="home-outline" size="small"></ion-icon>
    <ion-label>Acceuil</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="tab2">
    <ion-icon name="book-outline" size="small"></ion-icon>
    <ion-label>Kiosque</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="tab3">
    <ion-icon name="play-circle-outline"  size="small"></ion-icon>
    <ion-label>Vidéo</ion-label>
    <ion-badge>6</ion-badge>

  </ion-tab-button>
  
  <ion-tab-button tab="tab4">
    <ion-icon name="star-outline"  size="small"></ion-icon>
    <ion-label>Stories</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="tab5">
    <ion-icon name="wallet-outline" size="small" color="primary"></ion-icon>      
    <ion-label color="primary">Tickets</ion-label>
  </ion-tab-button>
  
</ion-tab-bar>