<html>
    <head><link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    </head>
    <ion-header  class="ion-no-border">
<ion-toolbar>
    <ion-buttons slot="start">
        <ion-button><ion-icon slot="icon-only" name="chevron-back" color="light" ></ion-icon></ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
        <ion-button><ion-icon slot="icon-only" name="heart" color="light" ></ion-icon></ion-button>
    </ion-buttons>
</ion-toolbar>
</ion-header> 
<ion-fab slot="fixed" vertical="bottom"  horizontal="end">
<ion-fab-button size="small"><ion-icon name="arrow-redo"  size="small"></ion-icon></ion-fab-button>
<ion-fab-list side="top">
    <ion-fab-button size="small" color="primary" target="fgxn"><ion-icon name="share-social"  size="small"></ion-icon></ion-fab-button>
    <ion-fab-button size="small" color="primary"><ion-icon name="bookmark"  size="small"></ion-icon></ion-fab-button>
    <ion-fab-button size="small" color="primary"><ion-icon name="notifications"  size="small"></ion-icon></ion-fab-button>
  </ion-fab-list>
</ion-fab>


<ion-content >
  

    <div class="ion-padding content-container" >
        
       

    <h3>Sept étudiants Tunisiens reçoivent leur diplôme de l’Ecole Polytechnique à Paris en l’absence des responsables officiels du pays </h3>
    <div class="article-inf">
    <p > Nom de l'auteur <br/>
    Publié à 20 Octobre 2019 à 10:25</p>
    
    <ion-buttons class="center">
    <ion-button >
        <ion-icon name="heart" color="Medium" size="small"> </ion-icon>
      </ion-button>26k 
      <ion-button >&nbsp; &nbsp;
        <ion-icon name="share-social" color="Medium" size="small"> </ion-icon>
      </ion-button>15k
      <ion-button >&nbsp;&nbsp;
        <ion-icon name="bookmark-outline" color="Medium" size="small"> </ion-icon>
      </ion-button>Lire+tard
   </ion-buttons>
</div>
<p>Un groupe composé de 7 étudiants tunisiens ont décroché, en bloc, leur certificat de fin d’études de l’École Polytechnique de Paris, et il s’agit là d’un précédent unique en son genre.

Une cérémonie de remise des diplômes, a été organisée en leur honneur, au début du mois de juin, pour couronner les efforts de ces jeunes en vue de les encourager à réaliser un brillant avenir.

Néanmoins, malgré l’importance de l’événement, aucun fonctionnaire officiel tunisien n’était présent à Paris, contrairement à d’autres pays qui y étaient représentés au niveau d’ambassadeurs et de hauts cadres de l’Enseignement supérieur.

Réagissant à cette négligence, plusieurs des pionniers des sites des réseaux sociaux ont exprimé leur colère face à cette indifférence de la part des responsables tunisiens, qui ne font rien pour améliorer les compétences des jeunes et développer leurs potentiels tout en les encourageant à l’édification de leur pays, alors que ces jeunes trouvent le soutien, l’encadrement, et une certaine ‘polarisation’ de la part des sociétés étrangères.</p>
<div #triggerElement></div>
 </div>

</ion-content>
