<html>

<ion-fab slot="fixed" vertical="bottom"  horizontal="end">
<ion-fab-button size="small"><ion-icon name="arrow-redo"  size="small"></ion-icon></ion-fab-button>
<ion-fab-list side="top">
    <ion-fab-button size="small" color="primary" target="fgxn"><ion-icon name="share-social"  size="small"></ion-icon></ion-fab-button>
    <ion-fab-button size="small" color="primary"><ion-icon name="bookmark"  size="small"></ion-icon></ion-fab-button>
    <ion-fab-button size="small" color="primary"><ion-icon name="notifications"  size="small"></ion-icon></ion-fab-button>
  </ion-fab-list>
</ion-fab>  
<div class="back">
<ion-fab horizontal="start" vertical="top" slot="fixed">
  <ion-fab-button href="tabs/tab1" size="small">
    <ion-icon name="arrow-back-outline" ></ion-icon>
  </ion-fab-button>
  </ion-fab></div>
<ion-content >

   <div class="for" *ngFor="let post of lstposts"> 
<div class="if" *ngIf="post.id === id">
  <img src="http://localhost/uploads\files\post\{{post.image}}">
    <div class="ion-padding content-container" >
        
  

    <h3>{{post.titre}}</h3>
    <div class="article-inf">
    <p >  <br/>
    Publié à {{post.updateAt}}</p>
    
    <ion-buttons class="center">
      
    <ion-button >
        <ion-icon name="heart" color="Medium" size="small"> </ion-icon>{{post.reactions}} 
      </ion-button>
    
      <ion-button (click)="sShare(post)">&nbsp; &nbsp;
        <ion-icon name="share-social" color="Medium" size="small"> </ion-icon>
   </ion-button>
      <ion-button (click)="addPlusTardArticle(post)" >&nbsp;&nbsp;
        <ion-icon name="bookmark-outline" color="Medium" size="small"> </ion-icon>Lire+tard
      </ion-button>
   </ion-buttons>
</div>
<p>{{post.contenu}}</p>
 </div>
 <ion-row>
  <ion-col>
<div *ngIf="!djjaime">
   <ion-button fill="clear" color="dark" (click)="reaction(post.reactions,post.id)"(click)="jaime(post)">
  <ion-icon name="heart-outline" color="medium"></ion-icon> &nbsp; j'aime
</ion-button>
</div>
<div *ngIf="djjaime">
  <ion-button fill="clear" color="dark" (click)="Rereaction(post.reactions,post.id)" (click)="dislike(post)">
 <ion-icon name="heart" color="primary"></ion-icon> &nbsp; j'aime
</ion-button>
</div>
  </ion-col>
  <ion-col>
   <ion-button fill="clear" (click)="onButtonClick()" color="dark"><ion-icon name="chatbox-outline" color="medium"></ion-icon> &nbsp; {{nbrcommentaires}} Commentaires</ion-button>

  </ion-col>
  
</ion-row>
 <ion-grid>
  <ion-row>
    <ion-col size="10" class="input-col">
      <ion-input  type="text" [(ngModel)]="commentaire"placeholder="Entrez votre commentaire" ></ion-input>
    </ion-col>
    <ion-col size="2" class="send-col">
      <ion-button shape="full" (click)="send()">
        <ion-icon name="paper-plane"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
<div *ngIf="buttonClicked">
  <div *ngFor="let commentaire of lstcommentaires">
    <div *ngIf="commentaire.post ===('/api/posts/'+id) ">
    <ion-row>
      <ion-col>
      <div *ngFor="let abonne of lstabonnes">
        <div *ngIf="('/api/abonnes/'+abonne.id)===commentaire.username">
        {{abonne.username}}</div>
      </div>
      </ion-col>
      <ion-col>  {{commentaire.contenu}}
        </ion-col>
        </ion-row>
  </div>
</div>
</div>
 <div *ngIf="!listvu; else elseBlock"><button (click)="score(test)"(click)="Vu(post)">
  <ion-icon name="star-outline"></ion-icon>
</button></div>

<ng-template #elseBlock>
  <button (click)="score(test)"(click)="Vu(post)">
    <ion-icon name="star-outline"></ion-icon>
  </button>

</ng-template>
</div> 
<div class="if" *ngIf="post.typePost.nomtype === 'Publicité'">

<a href="{{post.description}}"><img src="http://localhost/uploads\files\post\{{post.image}}" height="100px" width="20px" ></a>
</div>
 </div>


</ion-content>
