<html>

<ion-fab slot="fixed" vertical="bottom"  horizontal="end">
<ion-fab-button size="small"><ion-icon name="arrow-redo"  size="small"></ion-icon></ion-fab-button>
<ion-fab-list side="top">
    <ion-fab-button size="small" color="primary" target="fgxn"><ion-icon name="share-social"  size="small"></ion-icon></ion-fab-button>
    <ion-fab-button size="small" color="primary"><ion-icon name="bookmark"  size="small"></ion-icon></ion-fab-button>
    <ion-fab-button size="small" color="primary"><ion-icon name="notifications"  size="small"></ion-icon></ion-fab-button>
  </ion-fab-list>
</ion-fab>  
<div class="back">
<ion-fab horizontal="start" vertical="top" slot="fixed">
  <ion-fab-button href="tabs/tab1" size="small">
    <ion-icon name="arrow-back-outline" ></ion-icon>
  </ion-fab-button>
  </ion-fab></div>
<ion-content >

   <div class="for" *ngFor="let post of lstposts"> 
<div class="if" *ngIf="post.id === id">
  <img src="http://tunivisions-group.com/uploads\files\post\{{post.image}}">
    <div class="ion-padding content-container" >
        
  

    <h3>{{post.titre}}</h3>
    <div class="article-inf">
    <p >  <br/>
    Publié à {{post.updateAt}}</p>
    
    <ion-buttons class="center">
    <ion-button >
        <ion-icon name="heart" color="Medium" size="small"> </ion-icon>
      </ion-button>26k 
      <ion-button >&nbsp; &nbsp;
        <ion-icon name="share-social" color="Medium" size="small"> </ion-icon>
      </ion-button>15k
      <ion-button (click)="addPlusTardArticle(post)">&nbsp;&nbsp;
        <ion-icon name="bookmark-outline" color="Medium" size="small"> </ion-icon>Lire+tard
      </ion-button>
   </ion-buttons>
</div>
<p>{{post.contenu}}</p>
 </div>
</div> 
 </div>

</ion-content>
