<ion-header [translucent]="true">
  <ion-toolbar color="primary" >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab2"></ion-back-button>
    </ion-buttons>
    <ion-title>      
       
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <div class=app-mag>
    <div class="app-mag-img">
      <img src="assets/images/magazine.jpg">
    </div>
    <div class="app-mag-info">
      <div class="app-mag-date">
  
        <span>Octobre 27 2019</span>
      </div>
      <div class="app-mag-desc">
    <p>Lorem ipsbkd kldnvnksnc  restf cheihf vous bfihf termobfb metre en ncuisv jui huihv est </p> 
    <div class= "app-mag-icon">
    <a href="#" tiltle ="panier">
      <ion-icon name="trash-outline"></ion-icon> retirer
    </a>
    &nbsp;
    &nbsp;
  <a href="/magazine"><ion-icon name="book-outline"></ion-icon> Consulter</a><br>
  </div>
  <br>
    </div>
    </div>
  </div>


  <div class=app-mag>
    <div class="app-mag-img">
      <img src="assets/images/magazine.jpg">
    </div>
    <div class="app-mag-info">
      <div class="app-mag-date">
  
        <span>Octobre 27 2019</span>
      </div>
      <div class="app-mag-desc">
    <p>Lorem ipsbkd kldnvnksnc  restf cheihf vous bfihf termobfb metre en ncuisv jui huihv est </p> 
    <div class= "app-mag-icon">
    <a href="#" tiltle ="panier">
      <ion-icon name="trash-outline"></ion-icon> retirer
    </a>
    &nbsp;
    &nbsp;
  <a href="#"><ion-icon name="book-outline"></ion-icon> Consulter</a><br>
  </div>
  <br>
    </div>
    </div>
  </div>
  <footer>
  <div class=app-mag>
   <p>totale : </p> <br/>
   <p class="prix"> 18.500 TDN </p>
   
  
   <section class="full-width">
    <ion-button expand="full" >valider   </ion-button>
  </section>
  </div></footer>
</ion-content>
