<ion-header [translucent]="true">
  <ion-toolbar color="primary" >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab2"></ion-back-button>
    </ion-buttons>
    <ion-title>      
    Panier
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="if" *ngIf="PanierStorage">
    <div class="for"*ngFor="let magazine of PanierStorage;let i = index">

  <div class=app-mag>
    <div class="app-mag-img">
      <img src="http://localhost/uploads\files\magazine\images\{{magazine.thumbnail}}">
    </div>
    <div class="app-mag-info">
      <div class="app-mag-date">
  
        <span>{{magazine.magazine}}</span>
      </div>
      <div class="app-mag-desc">
    <p>{{magazine.description}} {{magazine.prix}} </p> 
    <div class= "app-mag-icon">
    <a (click)="removeMagazine(magazine, i)">
      <ion-icon name="trash-outline"></ion-icon> retirer
    </a>
    &nbsp;
    &nbsp;
  <a [routerLink]="['/', 'magazine', magazine.id]"><ion-icon name="book-outline"></ion-icon> Consulter</a><br>
  </div>
  <br>
    </div>
    </div>
  </div></div></div>


  
  <footer>
  <div class=app-mag>
   <p>totale : </p> <br/>
   <p class="prix">  {{total}} TDN </p>
   
  
   <section class="full-width">
     <FORM name="paiment" method="POST" action="https://preprod.gpgcheckout.com/Paiement_test/Validation_paiement.php" >
<input type="hidden" name="NumSite" value="{{NumSite}}">
<input type="hidden" name="Password" value="{{Password}}">
<input type="hidden" name="orderID" value="{{orderId}}">
<input type="hidden" name="Amount" value="{{Amount}}">
<input type="hidden" name="Currency" value="{{Devise}}">
<input type="hidden" name="Language" value="fr">
<input type="hidden" name="EMAIL" value="contact@gpgcheckout.com">
<input type="hidden" name="CustLastName" value="nom">
<input type="hidden" name="CustFirstName" value="prenom">
<input type="hidden" name="CustAddress" value="ariana">
<input type="hidden" name="CustZIP" value="2080">
<input type="hidden" name="CustCity" value="ariana">
<input type="hidden" name="CustCountry" value="tunisie">
<input type="hidden" name="CustTel" value="26547852">
<input type="hidden" name="PayementType" value="1">
<input type="hidden" name="orderProducts" value="{{PanierStorage}}">
<input type="hidden" name="signature" value="{{signture}}">
<input type="hidden" name="AmountSecond" value="25">
<input type="hidden" name="vad" value="345566666">
<input type="hidden" name="Terminal" value="002">

<input type="submit" name= "Valider" value="Valider" >
<ion-button expand="full" >valider   </ion-button>

</FORM>
    
  </section>
  </div></footer>
</ion-content>
