<ion-header [translucent]="true">
  <ion-toolbar color="primary" >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab2"></ion-back-button>
    </ion-buttons>
    <ion-title>      
    
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="if" *ngIf="PanierStorage">
    <div class="for"*ngFor="let magazine of PanierStorage;let i = index">

  <div class=app-mag>
    <div class="app-mag-img">
      <img src="https://www.tunivisions-group.com/uploads\files\magazine\images\{{magazine.thumbnail}}">
    </div>
    <div class="app-mag-info">
      <div class="app-mag-date">
  
        <span>{{magazine.magazine}}</span>
      </div>
      <div class="app-mag-desc">
    <p>{{magazine.description}} {{magazine.prix}} </p> 
    <div class= "app-mag-icon">
    <a (click)="removeMagazine(magazine, i)">
      <ion-icon name="trash-outline"></ion-icon> retirer
    </a>
    &nbsp;
    &nbsp;
  <a [routerLink]="['/', 'magazine', magazine.id]"><ion-icon name="book-outline"></ion-icon> Consulter</a><br>
  </div>
  <br>
    </div>
    </div>
  </div></div></div>


  
  <footer>
  <div class=app-mag>
   <p>totale : </p> <br/>
   <p class="prix">  {{total}} TDN </p>
   
  
   <section class="full-width">
    <ion-button expand="full" >valider   </ion-button>
  </section>
  </div></footer>
</ion-content>
