
ion-content{
  --background: url(/assets/images/background2.jpg) no-repeat top center/cover fixed, #fff;

}

.contenu{
  padding-top: 40%;
  height:100% ;
  width: 100%;
 


 
}
.elfsight-app-7b4b22aa-b23d-4696-9c72-6e6a5304538c{
 
  height:350px ;
  width: 100%;
 display: flex;

}