

<ion-content>

 
  <ion-toolbar>
 <ion-buttons slot="start" >
    <ion-back-button defaultHref="/"></ion-back-button>Login
  </ion-buttons>
</ion-toolbar>
<ion-icon name="person-circle-outline"  class="icon"></ion-icon>
<ion-list>
<ion-item >

  <ion-label position="floating" ><ion-icon name="person-outline"></ion-icon>&nbsp;&nbsp; Adresse mail</ion-label>
  <ion-input type="text "  [(ngModel)]="mail"    ></ion-input>
 </ion-item> 
 <ion-item >

  <ion-label position="floating"><ion-icon name="lock-open-outline"></ion-icon>&nbsp;&nbsp;Mot de passe</ion-label>
  <ion-input type="password"  [(ngModel)]="password"    ></ion-input>
 </ion-item>  
</ion-list>
<br/>
<br/>


<ion-button (click)="tryLogin()"> Connecter </ion-button>
<p>vous n'avez pas encore de compte ? <a (click)="openRegister()">inscrivez-vous</a></p>

<img src="assets/images/Tunivisions.png" class="logo">
</ion-content>
