

<ion-content>

 
  <ion-toolbar>
 <ion-buttons slot="start" >
    <ion-back-button defaultHref="/"></ion-back-button>Login
  </ion-buttons>
</ion-toolbar>
<ion-icon name="person-circle-outline"  class="icon"></ion-icon>
<ion-list>
<ion-item >

  <ion-label position="floating" ><ion-icon name="person-outline"></ion-icon>&nbsp;&nbsp; Nom d'utilisateur</ion-label>
  <ion-input type="text"></ion-input>
 </ion-item> 
 <ion-item >

  <ion-label position="floating"><ion-icon name="lock-open-outline"></ion-icon>&nbsp;&nbsp;Mot de passe</ion-label>
  <ion-input type="password " ></ion-input>
 </ion-item>  
</ion-list>
<br/>
<br/>


<ion-button> Connecter </ion-button>
<p>vous n'avez pas encore de compte ? <a>inscrivez-vous</a></p>
</ion-content>
