<ion-header [translucent]="true">
  <ion-toolbar color="primary" >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>      
      Mes Magazines
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/panier']">
        <ion-icon name="cart-outline"></ion-icon>      
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
 
  <ion-item lines="none"><div class="date">
    <ion-label> <ion-button fill="clear" ><ion-icon name="calendar-outline" slot="start"></ion-icon>&nbsp;jj/mm/aaaa </ion-button></ion-label>
    <ion-datetime displayFormat="D MMM YYYY " min="1997" max="2010" ></ion-datetime>
    </div></ion-item>
<ion-grid>
  <div *ngIf="datastorage">
  <div *ngIf="lstcommandes">
  <div *ngFor="let commande of lstcommandes">
    <div *ngIf="commande.abonne == datastorage.id">
    <div *ngFor="let magazine of lstmagazines">
    <div *ngIf="magazine.magazine == commande.magazine">

  <ion-row>
    <ion-col>
      <ion-card>
        <img src="http://localhost/uploads\files\magazine\images\{{magazine.thumbnail}}" height="180px">
        <ion-card-header>
          <ion-card-subtitle>{{magazine.magazine}}</ion-card-subtitle>
          <ion-button size="small" (click)="PreviewPdfFile(magazine.pdf)">Lire</ion-button>
        </ion-card-header>
      </ion-card>
    </ion-col>
</ion-row>
</div></div></div></div></div></div>
</ion-grid>
</ion-content>
