<ion-content [fullscreen]="true">

<video controls width="100%" >
  <source src="https://youtu.be/7OkMZLJHDt4"/>
</video>
<!--zone nouvel magazine-->
<div class=app-mag>
  <div class="app-mag-img">
    <img src="assets/images/magazine.jpg">
  </div>
  <div class="app-mag-info">
    <div class="app-mag-date">

      <span>Octobre 27 2019</span>
    </div>
    <div class="app-mag-desc">
  <p>Lorem ipsbkd kldnvnksnc  restf cheihf vous bfihf termobfb metre en ncuisv jui huihv est </p> 
  <div class= "app-mag-icon">
  <a href="#" tiltle ="panier">
    <ion-icon name="cart-outline"></ion-icon> Panier
  </a>
  &nbsp;
<a href="#"><ion-icon name="book-outline"></ion-icon> Consulter</a><br>
</div>
<br>
<ion-button class="app-mag-button" color="primary" >Achetez</ion-button>
  </div>
  </div>
</div>

<!--scroll category menu-->

<ion-grid fixed>
   <ion-row>
     <ion-col size="12">
       <ion-segment scrollable (ionChange)="onCategoryChange($event)" >
         <ion-segment-button *ngFor="let category of categories" value={{category}}>
         <ion-label>{{category}}</ion-label>
        </ion-segment-button>
      
       </ion-segment>
     </ion-col>
   </ion-row>
</ion-grid>

<!--lister les articles-->
<div class="article">
<a href="article-details">
<ion-row  class="ion-align-items-center" class="ion-justify-content-around" class="ion-align-items-center	">
<ion-col fixed="true" class="ion-margin-vertical	"	 >
<div class="container">
<div class="box">
  <div class="imgBx">
  <img  src="assets/images/école.jpg"/>
  <div class="category"><p>People</p></div>
</div>
  <div class="content">
  <h3> Couvre-feu: Précision du Ministère de l’Intérieur </h3>

  <p>
    Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
    Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
    <a href="#">Lire plus ...</a>
  </p>
</div>
</div>
</div>
</ion-col>
</ion-row>
</a>
<ion-row>
<ion-col fixed="true" class="ion-margin-vertical	"	 >
  <div class="container">
  <div class="box">
    <div class="imgBx">
    <img  src="assets/images/école.jpg"/>
    <div class="category"><p>People</p></div>
  </div>
    <div class="content">
    <h3> Couvre-feu: Précision du Ministère de l’Intérieur </h3>
    <p>
      Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
      Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
    </p>
  </div>
  </div>
  </div>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col fixed="true" class="ion-margin-vertical	"	 >
    <div class="container">
    <div class="box">
      <div class="imgBx">
      <img  src="assets/images/école.jpg"/>
      <div class="category"><p>People</p></div>
    </div>
      <div class="content">
      <h3> Couvre-feu: Précision du Ministère de l’Intérieur </h3>
      <p>
        Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
        Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
      </p>
    </div>
    </div>
    </div>
    </ion-col>
</ion-row>
<ion-row>
    <ion-col fixed="true" class="ion-margin-vertical	"	 >
      <div class="container">
      <div class="box">
        <div class="imgBx">
        <img  src="assets/images/école.jpg"/>
        <div class="category"><p>People</p></div>
      </div>
        <div class="content">
        <h3> Couvre-feu: Précision du Ministère de l’Intérieur </h3>
        <p>
          Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
          Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
        </p>
      </div>
      </div>
      </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col fixed="true" class="ion-margin-vertical	"	 >
        <div class="container">
        <div class="box">
          <div class="imgBx">
          <img  src="assets/images/école.jpg"/>
          <div class="category"><p>People</p></div>
        </div>
          <div class="content">
          <h3> Couvre-feu: Précision du Ministère de l’Intérieur </h3>
          <p>
            Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
            Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
          </p>
        </div>
        </div>
        </div>
        </ion-col>
 

  </ion-row>
  </div>
  
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="dots"
      loadingText="">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
