<ion-header [translucent]="true">
  <ion-toolbar color="primary" >
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>      
      <img src="assets/images/tuni.png" class="logo" style="float:left; width: 110px; height:37"> 
      </ion-title>
      
          
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">


<!--zone nouvel magazine-->
<div class="if" *ngIf="lstmagazines">
<div class=app-mag>

  <div class="app-mag-img">
    <img src="http://tunivisions-group.com/uploads\files\magazine\images\{{lstmagazines[0].thumbnail}}">
  </div>
  <div class="app-mag-info">
    <div class="app-mag-date">
      
      <span>{{lstmagazines[0].magazine}}</span>
    </div>
  
    <div class="app-mag-desc">
  <p>{{lstmagazines[0].description}} </p> 
  <div class= "app-mag-icon">
  <a (click)="addToPanier(lstmagazines[0])">
    <ion-icon name="cart-outline"></ion-icon> Panier
  </a>
  &nbsp;
<a [routerLink]="['/', 'magazine', lstmagazines[0].id]"><ion-icon name="book-outline"></ion-icon> Consulter</a><br>
</div>
<br>
<ion-button class="app-mag-button" color="primary" >Achetez</ion-button>
  </div>
  </div>
</div>
</div>


<!--scroll category menu-->

<ion-grid fixed>
   <ion-row>
     <ion-col size="12">
       <ion-segment scrollable (ionChange)="onCategoryChange($event)" >
         <ion-segment-button  *ngFor="let category of categories" value={{category}} (click)="changeCategory(category)">
         <ion-label>{{category}}</ion-label>
        </ion-segment-button>
      
       </ion-segment>
     </ion-col>
   </ion-row>
</ion-grid>

<!--lister les articles-->

  <div class="if" *ngIf="lstposts">
  <div *ngFor="let data of lstposts.slice().reverse()" >
    <div class="if" *ngIf="data.categorie.nomCategorie === currentCategorie || currentCategorie ==='all' ">
      <div class="if" *ngIf="data.typePost.nomtype === 'Article'">


  <ion-row  class="ion-align-items-center" class="ion-justify-content-around" class="ion-align-items-center	">
  <ion-col fixed="true" class="ion-margin-vertical	"	 >
  <div class="container">
  <div class="box" [routerLink]="['/', 'article-details', data.id]">
    <div class="imgBx">
    <img  src="http://tunivisions-group.com/uploads\files\post\{{data.image}}"/>
    <div class="category"><p>{{data.categorie.nomCategorie}}</p></div>
  </div>
    <div class="content">
    <h3>{{data.titre}}</h3>
  
    <p>
      {{data.description}}
      <a href="#">Lire plus ...</a>
    </p>
  </div>
  </div>
  </div>
  </ion-col>
  </ion-row>
  </div>
</div>
</div>
</div>

  
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="dots"
      loadingText="">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>



  
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="home-outline" size="small" color="primary"></ion-icon>
      <ion-label color="primary">Acceuil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="book-outline" size="small"></ion-icon>
      <ion-label>Kiosque</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="play-circle-outline"  size="small"></ion-icon>
      <ion-label>Vidéo</ion-label>
      <ion-badge>6</ion-badge>

    </ion-tab-button>
    
    <ion-tab-button tab="tab4">
      <ion-icon name="star-outline"  size="small"></ion-icon>
      <ion-label>Stories</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab5">
      <ion-icon name="wallet-outline" size="small"></ion-icon>      
      <ion-label>Tickets</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>


