ion-content ion-toolbar {
  --background: translucent;
}
a{
  text-decoration: none;
}


.app-mag{
  font-size: 10px;
  padding: 0.5rem;
  height: 100px;
  max-height: 120px;
  min-height: 100px;
  min-width: 17.7rem;
  max-width: 98rem;
  margin:0 0.5rem;
  background-color:#EDEEFF ;
  box-shadow: 0 0.5rem 0.7rem rgba(0,0,0,0.05);
  display: flex;

}
.app-mag-img  {
  position: relative;
  min-width: 4rem;
  max-width: 4rem;
  box-shadow:0 0.7rem 1rem rgba(0,0,0,0.07) ;
  object-fit: cover;
  display: block;
}
.new-icon{
  height: 30px;
  width: 30px ;
  position:absolute;
  top:0.8rem;
  left:30.8px;
  z-index:1;
}
.app-mag-date{
  display: block; 
  color: #3F4756;
  font-size: 12px;
  font-weight: 600;
  margin: .5rem 0;
  margin-top : -0.08rem;
}
.app-mag-info{
  margin-left: 0.6rem;
  padding-bottom: 30rem;
  
  
}
.app-mag-desc{
  margin-top : -0.3rem;
  font-size: 9px;
  color: #3F4756;
}
.app-mag-icon{
 margin-top: -0.4rem; 
}
.app-mag-button{
  display: inline-block;
  width: 4rem;
  height: 20px;
  font-size: 8px;
  
  
}

ion-label{
  font-size: 10px;
}

.box{
  position: relative;
  font-size: 10px;
  
  height: 100px;
  max-height: 120px;
  min-height: 150px;
  min-width: 17.7rem;
  max-width: 98rem;
  margin:0 1rem;
  background-color:#000000 ;
  box-shadow: 0 0.5rem 0.7rem rgba(0,0,0,0.2);
  display: flex;
  border-radius: 8px;

}
.box .imgBx{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  display: block;
  
}
.imgBx img{
  position: absolute;
  top:0;
  bottom:0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.2s;
  
}
.box:hover .imgBx img{
  opacity: 0;
}
.box .content
{
  position: absolute;
  bottom:-20px;
  left: 5%;
  width: 90%;
  height:70px;
  background: #F9F9F9;
  transition: 0.5s;
  overflow: hidden;
  padding: 8px;
  box-sizing: border-box;
  box-shadow: 0 0.5rem 0.7rem rgba(0,0,0,0.2);

}
.box:hover .content{
  width: 100%;
  height: 100%;
  bottom:0;
  left: 0;
}
.imgBx{
  position: relative;
}
 .box .imgBx .category {
  position: absolute;
  bottom:120px;
  left: 0;
  width: 80px;
  height:20px;
  background:black;
  transition: 0.5s;
  overflow: hidden;
  
  box-sizing: border-box;
  box-shadow: 0 0.5rem 0.7rem rgba(0,0,0,0.2);
 
}
.category p{
  text-align: center;
  line-height:20%;
  padding-left: 8px;
  color: white;
  font-style: bold;
  font-weight: 700;
  
}
.box .content h3
{
  margin:-4px;
  padding: 10px;
  
  font-size: 13px;
  font-style: bold;
  font-weight: 700;
  color: #3B4856;
  text-align: center;
 
  
}

.box .content p{
  margin: 12px 0 0 ;
  padding: 0;
  opacity: 0;
  line-height: 1.2em;
  transition: 0.5s;
  text-align: justify;
  color: #3B4856;

}
.box:hover .content h3{
  text-align: initial;
  line-height: initial;
  padding:10px;
}

.box:hover .content p{
  opacity: 1;
  transition-delay: 0.5s;
  
}
.ion-margin-vertical{
  margin: 16px 0;
}
.ion-justify-content-around{
  justify-content: space-around;
}
.ion-align-items-center	{
  align-items : center;
}
.lire_plus{
 font-style: bold;
  }