

<ion-content>

 
  <ion-toolbar>
 <ion-buttons slot="end" >
  <ion-icon name="arrow-forward-outline" color="light" size ="large"></ion-icon>
  </ion-buttons>
</ion-toolbar>
<ion-icon class="icon" name="log-in-outline"></ion-icon>
<ion-list>
<ion-item >

  <ion-label position="floating" ><ion-icon name="person-outline"  ></ion-icon>&nbsp;&nbsp; Nom d'utilisateur</ion-label>
  <ion-input type="text" [(ngModel)]="username"></ion-input>
 </ion-item> 
 <ion-item >  
  <ion-label position="floating"><ion-icon name="at-outline"></ion-icon>&nbsp;&nbsp;Adresse mail</ion-label>
  <ion-input type="text" [(ngModel)]="mail " ></ion-input>
 </ion-item> 
 <ion-item >

<ion-label position="floating"><ion-icon name="calendar-outline"></ion-icon>&nbsp;&nbsp; Date  de naissance </ion-label>
<ion-datetime value="Date de naissance " display-timezone="utc" [(ngModel)]="naissance "></ion-datetime>

</ion-item> 
 <ion-item >
  <ion-label position="floating"><ion-icon name="lock-open-outline"></ion-icon>&nbsp;&nbsp;Mot de passe </ion-label>
  <ion-input type="password " [(ngModel)]="password" ></ion-input>
 </ion-item>  
 <ion-item >
 <ion-label position="floating"><ion-icon name="lock-closed-outline"></ion-icon>&nbsp;&nbsp; Confirmer le mot de passe</ion-label>
 <ion-input type="password " [(ngModel)]="confirm_pass" ></ion-input>
</ion-item> 

</ion-list>
<br/>
<br/>


<ion-button (click)="tryRegister()" [disabled]="disabledButton" > s'inscrire </ion-button>
<p>vous n'avez pas encore de compte ? <a (click)="openLogin()">Connecter</a></p>
<br/>
<br/>
<br/>
<br/>
<br/>
<ion-footer class="ion-no-border">

<img src="assets/images/Tunivisions.png" class="logo" > </ion-footer>
</ion-content>
