
<ion-header [translucent]="true">
  <ion-toolbar color="primary" >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab2"></ion-back-button>
    </ion-buttons>
    <ion-title>      
    Mon compte
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" slot="fixed" >
  <div *ngIf="!buttonClicked">
<div class="card">
  <div class="header">
    <div class="avatar">
      <ion-icon name="person-circle-outline"  class="icon" color="primary"></ion-icon>

    </div>
  </div>
</div>
<div class="card-body">
  <div class="user-meta ion-text-center">
    <div *ngIf="datastorage">
    <h3 class="playername">Nom d'utilisation : {{datastorage.username}}</h3>
  
    <h4 class="mail">Adresse email : {{datastorage.mail}} </h4>
 <div *ngIf="datastorage.abonnemnet !='[]'"> <h4 class="abonnement"> Il vous reste {{datastorage.abonnement}} editions</h4></div>  
  </div>
  <div *ngIf="score"> 
    <h6 class="ranking">Vos points cadeaux: <ion-chip class="score">
     <ion-label>{{score}}</ion-label>
      </ion-chip>
    </h6></div>   
  <ion-col>
    <div *ngIf="datastorage"><ion-button  (click)="onButtonClick()"> Modifier </ion-button></div>
 
   </ion-col>
 
  </div>
</div>
</div> <div *ngIf="buttonClicked">
  <ion-col>
    <ion-button fill="clear" (click)="onButtonClick()">les conserver</ion-button>
 
   </ion-col>
  <ion-list class="form">
    <ion-item >
    
      <ion-label position="floating" ><ion-icon name="person-outline"  ></ion-icon>&nbsp;&nbsp; {{datastorage.username}}</ion-label>
      <ion-input type="text" [(ngModel)]="username"></ion-input>
     </ion-item> 
     <ion-item >  
      <ion-label position="floating"><ion-icon name="at-outline"></ion-icon>&nbsp;&nbsp;{{datastorage.mail}}</ion-label>
      <ion-input type="text" [(ngModel)]="mail" ></ion-input>
     </ion-item> 
     <ion-item >
    
    <ion-label position="floating"><ion-icon name="calendar-outline"></ion-icon>&nbsp;&nbsp; {{datastorage.naissance}} </ion-label>
    <ion-datetime value="Date de naissance " display-timezone="utc" [(ngModel)]="naissance" min="1930" max="2010" ></ion-datetime>
    
    </ion-item> 
     <ion-item >
      <ion-label position="floating"><ion-icon name="lock-open-outline"></ion-icon>&nbsp;&nbsp;Mot de passe </ion-label>
      <ion-input type="password" [(ngModel)]="password" minlength="6"  maxlength="12" ></ion-input>
     </ion-item>  
     <ion-item >
     <ion-label position="floating"><ion-icon name="lock-closed-outline"></ion-icon>&nbsp;&nbsp; Confirmer le mot de passe</ion-label>
     <ion-input type="password" [(ngModel)]="confirm_pass" ></ion-input>
    </ion-item> 
    
    </ion-list>
    <br/>
    <br/>
    
    
    <ion-button class="Confirmer" (click)="reRegister()" [disabled]="disabledButton" > Confirmer </ion-button>
  </div>
</ion-content>  