ion-toolbar{
    --min-height:20px;
    --border-width:0 !important; 
    --border-color: transparent;
  }
ion-content{

    --background: #f5f6f9;

    
    
}
.card-body{
    padding-left: 15px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    
}

h3 {
    text-align: left; 
    font-size: 15px;
 
}
h4{
    text-align: left; 
    font-size: 15px;
}
h6{
    text-align: left;
    font-size: 15px; 
}
.icon{
    font-size: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto 
    
    }
ion-item{
    --highlight-background: #dc103c;    
}
ion-button{
    
    margin-left: auto;
    margin-right: auto  
}
.Confirmer{
    
    margin-left: 35%;
    margin-right: auto  
}