
ion-content {
    --background: url(/assets/images/background.jpg) no-repeat top center/cover fixed, #fff;
    position: relative;
    height: 100%;
    width: 100%;
}

ion-toolbar {
    --background: transparent;
}

.card {
    margin: 0 auto;

    .header {
        height: 200px;

        .avatar {
            width: 160px;
            height: 160px;
            position: relative;
            margin: 0 auto;

            img {
                display: block;
                border-radius: 50%;
                position: absolute;
                bottom: calc(-1*(80px + 4px));
                border: 8px solid #DC274C;
                background-color: #fff;
            }
        }
    }
}

.card-body {
    background-color: #dc274b56;
    padding: 30px;
    height: calc(100vh - (200px + 56px));
    overflow: hidden;

    .user-meta {
        padding-top: 40px;

        .playername {

            font-size: 24px;
            font-weight: 600;
            color: #ffffff;
        }

        .mail {
            font-size: 24px;
            font-weight: 600;
            color: #ffffff;
        }
        .ranking {
            font-size: 24px;
            font-weight: 600;
            color: #ffffff;
        }
        .score {
            font-size: 24px;
            font-weight: 600;
            color: #09b34a;
        }
    }
}
