<ion-header [translucent]="true">
  <ion-toolbar color="primary" >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab2"></ion-back-button>
    </ion-buttons>
    <ion-title>      
       
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="for" *ngFor="let magazine of lstmagazines"> 
    <div class="if" *ngIf="magazine.id === id" >
  <div class= "content">
    <div class="img">
<img src="http://localhost/uploads\files\magazine\images\{{magazine.thumbnail}}" height="150px">
<h3>{{magazine.magazine}}</h3>

<ion-button color="dark" size="large" (click)="addToPanier(magazine)">acheter - <br/> {{magazine.prix}} TDN</ion-button><br/>

</div>

<div class="overlay"></div>

</div>

  <ion-button expand="outline" color="dark"class="but"><ion-icon name="list-outline"slot="start"></ion-icon >sommaire</ion-button>
    <ion-button expand="outline" color="dark"class="but2" (click)="PreviewPdfFile(magazine.pdf)">version light</ion-button>
<div class= "abonnement">
  abonnement mensuel <ion-button color="dark" (click)="abonnement(abonne)">acheter - <br/> 5 TDN</ion-button><br/>
  abonnement annuel &nbsp; &nbsp;<ion-button color="dark" >acheter - <br/> 5 TDN</ion-button>

</div>


    </div> </div>
</ion-content>
