<ion-header [translucent]="true">
  <ion-toolbar color="primary" >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab2"></ion-back-button>
    </ion-buttons>
    <ion-title>      
       
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class= "content">
    <div class="img">
<img src="assets/images/magazine.jpg" height="150px">
<h3>septembre 2019</h3>

<ion-button color="dark" size="large">acheter - <br/> 5 TDN</ion-button><br/>

</div>

<div class="overlay"></div>

</div>

  <ion-button expand="outline" color="dark"class="but"><ion-icon name="list-outline"slot="start"></ion-icon >sommaire</ion-button>
    <ion-button expand="outline" color="dark"class="but2">version light</ion-button>
<div class= "abonnement">
  abonnement mensuel <ion-button color="dark" >acheter - <br/> 5 TDN</ion-button><br/>
  abonnement annuel &nbsp; &nbsp;<ion-button color="dark" >acheter - <br/> 5 TDN</ion-button>

</div>



</ion-content>
